body{
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    font-family: var(--font-primary);
    overflow: hidden;
    margin: 0;
    background-color: rgb(43, 42, 42);
}

header{
    background-color: black;
    display: block;
}

.título-header{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 10px;
    letter-spacing: -1px;
    color: beige;
}

.botones-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.botón{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
    font-size: 14px;
    cursor: pointer;
    background-color: black;
    border: none;
    color: beige;
}

.caja-memes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 40%;
    margin: auto;
    background-color: black;
}

.imagen-meme{
    height: 60%;
    background-color: black;
}
.contenedor-texto{
    height: 20%;
    background-color: white;
}

.texto{
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    font-family: Verdana;
}

.aside{
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(32, 32, 32);
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    color: beige;
    font-size: 15px;
    font-weight: 800;
    font-family: Verdana;
    align-items: center;
}